/Exercicio01/nbproject/private/
/Exercicio01/build/
/exercicios03/nbproject/private/
/ex2/nbproject/private/
/ex3/nbproject/private/
/ex4/nbproject/private/
/ex5/nbproject/private/
/ex6/nbproject/private/
/ex7/nbproject/private/
/ex8/nbproject/private/
/ex9/nbproject/private/
/ex10/nbproject/private/
/ex2/build/
/ex3/build/
/ex4/build/
/ex5/build/
/ex6/build/
/metodo retorno/nbproject/private/
/metodo retorno/build/
/metodoretornoparametro/nbproject/private/
/metodoretornoparametro/build/
/JavaApplication266/nbproject/private/
/JavaApplication266/build/
/ex8.0/nbproject/private/
/ex8/build/
/ex9/build/
/ex9/dist/
/ex10/build/